header {
   text-align: center;
   display: relative;
   justify-content: stretch;
   background-color: rgb(14, 12, 97);
   color: #ff0000;
   position: relative;
   font-size: 30px;
   font-family: impact, Arial, Helvetica, sans-serif;

}

// #canvas1{
//    res
// }

footer{
   background-color: rgb(14, 12, 97);
   position: flex;
   justify-content: space-around;
}

.name{
   color: #ff0000;
   text-decoration: none;
}

body {
   margin: 0px;
   background-color: purple;  
}

.liicon, .ghicon, .fbicon {
   width: 50px;
}

footer {
   color: red;
   margin: 0px;
   height: 55px;
   font-size: 45px;
   display: flex;
   font-family: Avanta Garde;
}
