// @import "./styles/example.scss";

header {
   background-color: red;
   position: flex;
   font-size: 30px;
   padding: 2px;
   // justify-content: center;
   left: 50;
   // font-style: italic;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

footer {
   background-color: red;
   position: flex;
   justify-content: space-around;


}
body {
   // margin: 0px;
   overflow: hidden;

   background-color: rgb(246, 230, 9);
   // border: 200px red;
   
}

.canvas1 {
   // margin: 10px;
   // left: 100px;
   // border: 10px;
   // border-color: honeydew;
   background-color: #049c18;
   position: flex;
   justify-content: space-around;
   // opacity: 0.5;
}

// #main {
//    color: rgb(15, 29, 233);
// }

