// @import "./styles/example.scss";

body {
   margin: 5px;
   overflow: hidden;

   background-color: rgb(246, 230, 9);
   // border: 200px red;
   
}

.canvas1 {
   // margin: 10px;
   border: 10px;
   border-color: honeydew;
   background-color: #049c18;
   position: flex;
   justify-content: space-around;
   opacity: 0.5;
}

#main {
   color: rgb(15, 29, 233);
}

